<div id="<%= containerId%>" class="splitterContainer">
    <div id="<%= leftPaneId%>" class="splitterLeftPane" style="flex-basis: <%= leftPaneWidth%>;"></div>
    <div class="splitterDivider"></div>
    <div id="<%= rightPaneId%>" class="splitterRightPane"></div>
</div>